.advantages {
    padding: 80px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 3px;
    }
    &__img{
        max-width: 567px;
        max-height: 355px;
    }

    &__item {
        position: relative;
        max-width: 567px;
    }

    &__text {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        
    }

}

@media only screen and (max-width: 1024px){
    .advantages{
        &__item{
            display: block;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width: 576px){
    .advantages{
        &__img{
            width: 100%;
        }
        &__text{
            width: 100%;
            font-size: 18px;
        }
        
    }
}