.advantages {
    padding: 80px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        max-width: 570px;
    }

    &__text {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        
    }

}