.block {
    padding: 79px 0 81px;

    &__before {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 360px;
        height: 255px;
        border: 1px solid #ececec;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__text {
        max-width: 234px;
        text-align: center;
        margin: 0 auto;
        color: #393939;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;

        &_aft {
            max-width: 275px;
            font-weight: 700;
            line-height: 26px;
        }
    }

    &__imgbtn {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__arrow {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    &__title {
        text-align: center;
        color: #393939;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        margin: 33px 0 37px;
    }

    &__after {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
}
@media only screen and (max-width: 1024px){
    .block{
        &__before{
            justify-content: space-around;
        }
        &__after{
            justify-content: space-around;
        }
    }
}
@media only screen and (max-width: 1024px){
    .block{
        padding:0 0 81px;
    }
}
