.header {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    &__nav{
        display: flex;
        min-width: 50%;
        justify-content: space-between;
        position: absolute;
        right: 0;
        
    }
    &__link{
        right: 0;
        display: flex;
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        &:hover{
            color:$main-color;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 768px){
    .header{
        &__link{
            margin: 0 10px;        
        }
    }
}
@media only screen and (max-width: 576px){
    .header{
        &__logo{
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__nav{
            top: 90px;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}