.options {
    padding: 79px 0 220px;
    background: url(../../images/bg/options_bg.jpg)center (center/cover) no-repeat;
    min-height: 580px;

    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__left{
        padding-right: 82px;
        width: 50%;
    }
    &__right{
        padding-left: 82px;
        width: 50%;
    }
    &__text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        &_l{
            text-align: right;
        }
        &_r{
            text-align: left;
        }
    }
}

@media only screen and (max-width: 576px){
    .options{
        padding: 70px 5px;
        &__left{
            padding-right: 25px;
        }
        &__right{
            padding-left: 25px;
        }
        &__text{
            &_l{
                font-size: 14px;
            }
            &_r{
                font-size: 14px;
            }
        }
    }
}